/* Global Sidebar Styles */
.sidebar {
  width: 25%;
  background-color: #2c3e5028;
  padding: 1rem;
  height: 95vh;
}
.category-section li {
  list-style: none;
}

/* Category Button Styles */
.category-section button {
  border: none;
  background-color: #00000000;
}

.category-section li:hover {
  background-color: #2c3e50;
  color: #f0f0f0 !important;
  border-radius: 10px;
}
.category-section li:hover h2 {
  color: #f0f0f0 !important;
}

.category-section li.selected button {
  background-color: #2c3e5048;
  color: rgb(36, 35, 35);
  border-left: 4px solid #2c3e50;
  border-radius: 10px;
}

/* Add Project Section Styles */
.add-project-section h1 {
  margin-bottom: 10px;
  padding-left: 10px;
}

.add-project-section button {
  padding: 4px;
  background-color: transparent;
  margin-right: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.add-project-section button h2 {
  margin: 0; /* Added to remove margin */
  padding-left: 10px;
}

.add-project-section button:hover {
  background-color: #2c3e5033;
}

.add-project-section input {
  padding: 8px;
  margin-right: 10px;
  width: 90%;
  border-radius: 4px;
}

.add-project-section input::placeholder {
  color: #7f8c8d;
}

.add-project-section button.cancel {
  background-color: #e74c3c;
}

.add-project-section button.cancel:hover {
  background-color: #c0392b;
}

.button {
  display: flex;
  margin: 10px;
  align-items: center; /* Added to center the buttons vertically */
}

/* Project Heading Styles */
.project__heading {
  border-bottom: #2c3e50 solid 2px;
  text-align: left;
  font-size: 1em;
}

/* Miscellaneous Styles */
.project-list ul li h2 {
  padding: 10px;
  margin: 0;
}

.category-section,
.project-list > h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
